---
import {getCollection} from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import ProductionGallery from '../../components/ProductionGallery.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';

const productions = (await getCollection('productions'))
    .filter((p) => p.id.startsWith('fr/'))
    .sort(
        (a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf()
    );
---

<!doctype html>
<html lang="fr">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    <style>
        main {
            max-width: 960px;
        }

        .intro {
            padding-bottom: 2rem;
            border-bottom: 1px solid #ddd;
            margin-bottom: 2rem;
        }

        html.dark .intro {
            border-bottom-color: rgb(var(--gray-light));
        }
        h1 {
            font-size: 3rem;
            text-align: left;
        }

        @media (max-width: 720px) {
            h1 {
                font-size: 2rem;
            }
        }

    </style>
</head>
<body>
<Header/>
<main>
    <section class="intro">
        <h1>Bienvenue chez Aesthetic Production</h1>
        <p>
Aesthetic Production est une société de production indépendante spécialisée dans la création de courts-métrages, de films institutionnels et de contenus visuels originaux.<br><br> Fondée par Hamza Dar, notre mission est de raconter des histoires fortes et authentiques qui touchent le cœur et l'esprit du spectateur. Nous combinons une vision artistique soignée, une esthétique travaillée et une narration percutante pour offrir des expériences mémorables.
        </p>
    </section>

    <section>
        <ProductionGallery productions={productions}/>
    </section>
</main>
<Footer/>
</body>
</html>
