RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect root and /index.html to French homepage (permanent 301)
RewriteRule ^(index\.html)?$ /fr/ [L,R=301]
