---
// src/pages/en/index.astro
import {getCollection} from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import ProductionGallery from '../../components/ProductionGallery.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';

const productions = (await getCollection('productions'))
    .filter((p) => p.id.startsWith('en/'))
    .sort(
        (a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf()
    );
---
<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    <style>
        main {
            max-width: 960px;
        }

        .intro {
            padding-bottom: 2rem;
            border-bottom: 1px solid #ddd;
            margin-bottom: 2rem;
        }

        html.dark .intro {
            border-bottom-color: rgb(var(--gray-light));
        }

        h1 {
            font-size: 3rem;
            text-align: left;
        }

        @media (max-width: 720px) {
            h1 {
                font-size: 2rem;
            }
        }
    </style>
</head>
<body>
<Header/>
<main>
    <section class="intro">
        <h1>Welcome to Aesthetic Production</h1>
        <p>
            Aesthetic Production is an independent production company specializing in the creation of short films, corporate videos, and original visual content.<br><br> Founded by Hamza Dar, our mission is to tell strong, authentic stories that touch the hearts and minds of viewers. We combine a refined artistic vision, meticulous aesthetics, and compelling storytelling to deliver memorable experiences.
        </p>
    </section>

    <section>
        <ProductionGallery productions={productions}/>
    </section>
</main>
<Footer/>
</body>
</html>
