---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="brand">
			<h2><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Accueil</HeaderLink>
			<HeaderLink href="/films">Films</HeaderLink>
			<HeaderLink href="/about">À Propos</HeaderLink>
			<HeaderLink href="/cv">CV</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="theme-toggle-container">
			<ThemeToggle />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		transition: background-color 0.2s ease-in-out;
	}
	html.dark header {
		background: #18181b;
		box-shadow: 0 2px 8px rgba(var(--black), 15%);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.brand {
		flex: 1 0 auto;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
